<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lancamento-heading" data-cy="LancamentoCreateUpdateHeading" jhiTranslate="jmbFinanApp.lancamento.home.createOrEditLabel">
        Create or edit a Lancamento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jmbFinanApp.lancamento.dsObservacao" for="field_dsObservacao">Ds Observacao</label>
          <input
            type="text"
            class="form-control"
            name="dsObservacao"
            id="field_dsObservacao"
            data-cy="dsObservacao"
            formControlName="dsObservacao"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jmbFinanApp.lancamento.vlLancamento" for="field_vlLancamento">Vl Lancamento</label>
          <input
            type="number"
            class="form-control"
            name="vlLancamento"
            id="field_vlLancamento"
            data-cy="vlLancamento"
            formControlName="vlLancamento"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jmbFinanApp.lancamento.dtLancamento" for="field_dtLancamento">Dt Lancamento</label>
          <div class="input-group">
            <input
              id="field_dtLancamento"
              data-cy="dtLancamento"
              type="text"
              class="form-control"
              name="dtLancamento"
              ngbDatepicker
              #dtLancamentoDp="ngbDatepicker"
              formControlName="dtLancamento"
            />
            <button type="button" class="btn btn-secondary" (click)="dtLancamentoDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jmbFinanApp.lancamento.tpLancamento" for="field_tpLancamento">Tp Lancamento</label>
          <select class="form-control" name="tpLancamento" formControlName="tpLancamento" id="field_tpLancamento" data-cy="tpLancamento">
            <option [ngValue]="null">{{ 'jmbFinanApp.TipoLancamento.null' | translate }}</option>
            <option *ngFor="let tipoLancamento of tipoLancamentoValues" [value]="tipoLancamento">
              {{ 'jmbFinanApp.TipoLancamento.' + tipoLancamento | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jmbFinanApp.lancamento.conta" for="field_conta">Conta</label>
          <select class="form-control" id="field_conta" data-cy="conta" name="conta" formControlName="conta" [compareWith]="compareConta">
            <option [ngValue]="null"></option>
            <option [ngValue]="contaOption" *ngFor="let contaOption of contasSharedCollection">{{ contaOption.dsConta }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jmbFinanApp.lancamento.categoria" for="field_categoria">Categoria</label>
          <select
            class="form-control"
            id="field_categoria"
            data-cy="categoria"
            name="categoria"
            formControlName="categoria"
            [compareWith]="compareCategoria"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categoriaOption" *ngFor="let categoriaOption of categoriasSharedCollection">
              {{ categoriaOption.dsCategoria }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
