<div>
  <h2 id="page-heading" data-cy="LancamentoHeading">
    <span jhiTranslate="jmbFinanApp.lancamento.home.title">Lancamentos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jmbFinanApp.lancamento.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lancamento"
        [routerLink]="['/lancamento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jmbFinanApp.lancamento.home.createLabel"> Create a new Lancamento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lancamentos?.length === 0">
    <span jhiTranslate="jmbFinanApp.lancamento.home.notFound">No Lancamentos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lancamentos && lancamentos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dsObservacao">
            <span jhiTranslate="jmbFinanApp.lancamento.dsObservacao">Ds Observacao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="vlLancamento">
            <span jhiTranslate="jmbFinanApp.lancamento.vlLancamento">Vl Lancamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dtLancamento">
            <span jhiTranslate="jmbFinanApp.lancamento.dtLancamento">Dt Lancamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tpLancamento">
            <span jhiTranslate="jmbFinanApp.lancamento.tpLancamento">Tp Lancamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="conta.dsConta">
            <span jhiTranslate="jmbFinanApp.lancamento.conta">Conta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="categoria.dsCategoria">
            <span jhiTranslate="jmbFinanApp.lancamento.categoria">Categoria</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lancamento of lancamentos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lancamento', lancamento.id, 'view']">{{ lancamento.id }}</a>
          </td>
          <td>{{ lancamento.dsObservacao }}</td>
          <td>{{ lancamento.vlLancamento }}</td>
          <td>{{ lancamento.dtLancamento | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jmbFinanApp.TipoLancamento.' + lancamento.tpLancamento }}">{{ lancamento.tpLancamento }}</td>
          <td>
            <div *ngIf="lancamento.conta">
              <a [routerLink]="['/conta', lancamento.conta.id, 'view']">{{ lancamento.conta?.dsConta }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lancamento.categoria">
              <a [routerLink]="['/categoria', lancamento.categoria.id, 'view']">{{ lancamento.categoria?.dsCategoria }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lancamento', lancamento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lancamento', lancamento.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lancamento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
